joblinkup.duckdns.org {
	root * /var/www/joblinkup/public
	php_fastcgi php:9000

	@rewrites not file

	route @rewrites {
		@pc path_regexp pc ^/(.+)$
		rewrite @pc /index.php?url={re.pc.1}
	}

	file_server
}

pmajoblinkup.duckdns.org {
	basicauth {
		iamtrazy $2a$14$iwP4BeLIC5ji7JQLE03Eq.3KOSl0AK8NDjNaOMXRIGm019t3sa/5.
	}
	root * /var/www/pma/html
	php_fastcgi phpmyadmin:9000

	file_server
}

bougainvilla.iamtrazy.eu.org {
        basicauth {
                bougainvilla $2a$14$VP4fo50t8O5j9gjKL43RTuDzeuklihW2VbIsrwE4AmwUXpyTIa7/W
        }
        handle_path /backend* {
                reverse_proxy hotels:8000
        }
	handle {
		reverse_proxy hotels:3000
	}
}

dev1.iamtrazy.eu.org {
        root * /var/www/wordpress0/html
        php_fastcgi wordpress:9000
	file_server

}

dev2.iamtrazy.eu.org {
        root * /var/www/wordpress1/html
        php_fastcgi wordpress1:9000
        file_server

}


jakcarrentalsolutions.com.au, www.jakcarrentalsolutions.com.au {
        basicauth /register {
                nikila $2a$14$Gha6t6N33PfPqgq1UWDBlOrdh/XuAmIfw/WTauEXMZk6PjqgmDxsu
        }

        basicauth /api/register {
                nikila $2a$14$Gha6t6N33PfPqgq1UWDBlOrdh/XuAmIfw/WTauEXMZk6PjqgmDxsu
        }

        reverse_proxy cars:3000

}
