*{
  font-family: 'Lato', 'sans-serif';
  background-color: transparent;
}

body{
  
}






.container{
  max-width: 100%;
  margin: auto;
  padding: 1rem;
  min-height: calc(100vh - 100px);
  display: grid;
  /*grid-template-columns: repeat(2,1fr);*/
  grid-template-rows: repeat(3,1fr);
  gap:5rem;
  background-color: transparent;
  border: black 2px;
}
.content_container{
  display: flex;
  height: 30vh;
  flex-direction: column;
  justify-content: center;
  background-color: transparent;
  align-items: center;
  padding-right: 10px;
  border: black 2px;
}
.wrapper{
  width:60%;
  background: orange;
  color: white;
  border-radius: 12px;
  padding: 30px 40px;
  border: 2px blue;
  justify-content: center;
}

.wrapper h1{
  font-size: 36px;
  text-align: center;
  background-color: purple;
}

.wrapper .form-container{
  width: 100%;
  height: 50px;
  background:blue;
  margin: 30px 0;
  border: black 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.form-container input{
  width: 100%;
  height: 100%;
  background: yellow;
  border: none;
  outline: none;
  border: 2px solid black;
  border-radius: 40px;
  font-size:16px;
  padding:20px 45px 20px 20px;
}

/* .wrapper .remember-me{
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
} */


.wrapper .btn{
  width: 100%;
  height: 45px;
  background-color: white;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: white;
  cursor: pointer;
  font-size:15px;
  color: blue;
  font-weight:600;
}




form.radio-container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: blue;

}
form .button-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 20px;
  width: 100%;
  background-color: blue;
  margin: 10px;
  cursor: pointer;
  
}
.button-container button{
  color: white;
  outline: none;
  border: none;
}
.twm-nav-list-1 ul li a > i {
  font-size: 18px;
  margin-right: 25px;
  position: absolute;
  left: 10px;
  top: 14px;
  color: #1967d2;
}
.twm-nav-list-1 ul > li > a {
  padding: 10px 15px 10px 40px;
  color: #323232;
  display: block;
  font-size: 14px;
  position: relative;
  font-weight: 400;
  transition: 0.5s all ease;
}
.twm-nav-list-1 ul > li > a:hover {
  color: #1967d2;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgba(180, 205, 237, 0.7);
}
.twm-right-section-panel {
  padding: 30px;
  border-radius: 10px;
}
@media (max-width: 540px) {
  .twm-right-section-panel {
    padding: 15px;
  }
}
.twm-right-section-panel textarea.form-control {
  height: auto;
  resize: none;
}
.twm-right-section-panel .panel.panel-default {
  border-radius: 10px;
  background: #fff;
}
.theiaStickySidebar:after {
  content: "";
  display: table;
  clear: both;
}
/*! CSS Used fontfaces */
@font-face {
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/webfonts/fa-regular-400.eot);
  src: url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/webfonts/fa-regular-400.eot?#iefix)
      format("embedded-opentype"),
    url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/webfonts/fa-regular-400.woff2)
      format("woff2"),
    url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/webfonts/fa-regular-400.woff)
      format("woff"),
    url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/webfonts/fa-regular-400.ttf)
      format("truetype"),
    url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/webfonts/fa-regular-400.svg#fontawesome)
      format("svg");
}
@font-face {
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: 900;
  font-display: auto;
  src: url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/webfonts/fa-solid-900.eot);
  src: url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/webfonts/fa-solid-900.eot?#iefix)
      format("embedded-opentype"),
    url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/webfonts/fa-solid-900.woff2)
      format("woff2"),
    url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/webfonts/fa-solid-900.woff)
      format("woff"),
    url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/webfonts/fa-solid-900.ttf)
      format("truetype"),
    url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/webfonts/fa-solid-900.svg#fontawesome)
      format("svg");
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v28/iJWKBXyIfDnIV7nErXyi0A.woff2)
    format("woff2");
  unicode-range: U+0600-06FF, U+0750-077F, U+0870-088E, U+0890-0891, U+0898-08E1,
    U+08E3-08FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF,
    U+FE70-FE74, U+FE76-FEFC;
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v28/iJWKBXyIfDnIV7nMrXyi0A.woff2)
    format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v28/iJWKBXyIfDnIV7nFrXyi0A.woff2)
    format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rubik/v28/iJWKBXyIfDnIV7nDrXyi0A.woff2)
    format("woff2");
  unicode-range: U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}


.register-link p a{
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover{
  text-decoration: underline;
}