@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body { 
  font-family: 'Montserrat', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  background-color: #fef9f2;
}

.panel {
  background-color: white;
  box-shadow: 0 0 7px rgba(0,0,0,.2);
  border-radius: 5px;
  font-size: 90%;
  text-align: center;
  padding: 30px 20px;
  max-width: 300px;
}

.panel form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

fieldset, label { 
  margin: 0; 
  padding: 0; 
}

h1 { 
  font-size: 22px; 
  margin: 10px; 
  font-weight: normal;
}

fieldset {
  margin: 20px 0 40px;
}


.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 30px;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}


.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }

input, label {
  cursor: pointer;
}

input[type="submit"] {
  margin-top: 5px;
  background-color: #302d2b;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 12px 30px;
}

input[type="submit"]:focus {
  outline: 0;
}

input[type="submit"]:active {
  transform: scale(0.98);
}

input[type="submit"]:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

.fa-heart {
  color: red;
  font-size: 30px;
  margin-bottom: 10px;
}

.fa-heart:before {
  content: "\f004";
  font-family: FontAwesome;
}